<section class="countdown" id="countdow">
    <div class="container">
        <div class="countdown__content">
            <div class="countdown__text text-light">
                <p class="countdown__tag poppins">categories</p>
                <h1 class="countdown__title inter">Enhance Your Music Experience</h1>
            </div>
            <div class="countdown__timer text-dark flex justify-start items-center" data-velue="05:23:59:23">
                <div class="timer">
                    <span>05</span>
                    <span>Days</span>
                </div>
                <div class="timer">
                    <span>23</span>
                    <span>Hours</span>
                </div>
                <div class="timer">
                    <span>59</span>
                    <span>Minutes</span>
                </div>
                <div class="timer">
                    <span>23</span>
                    <span>Seconds</span>
                </div>
            </div>
            <button type="button" class="countdown__btn text-light poppins">Buy Now!</button>
        </div>
    </div>
</section>