<section class="featured" id="featured">
    <div class="container">
        <div class="section__title">
            <div class="sub-title flex items-center">
                <div class="bg"></div>
                <h1>Featured</h1>
            </div>
            <h1 class="title text-dark inter">New Arrival</h1>
        </div>
        <div class="featured__content">
            <div class="featured__product" id="product-1">
                <div class="featured__product-text">
                    <h2 class="title">PlayStation 5</h2>
                    <p class="desc">Black and White version of the PS5 coming out on sale.</p>
                </div>
                <a href="#" class="featured__product-link">Shop Now</a>
            </div>
            <div class="featured__right">
                <div class="featured__product" id="product-2">
                    <div class="featured__product-text">
                        <h2 class="title">Women’s Collections</h2>
                        <p class="desc">Featured woman collections that give you another vibe.</p>
                    </div>
                    <a href="#" class="featured__product-link">Shop Now</a>
                </div>
                <div class="featured__bottom">
                    <div class="featured__product" id="product-3">
                        <div class="featured__product-text">
                            <h2 class="title">Speakers</h2>
                            <p class="desc">Amazon wireless speakers</p>
                        </div>
                        <a href="#" class="featured__product-link">Shop Now</a>
                    </div>
                    <div class="featured__product" id="product-4">
                        <div class="featured__product-text">
                            <h2 class="title">Perfume</h2>
                            <p class="desc">GUCCI INTENSE OUD EDP</p>
                        </div>
                        <a href="#" class="featured__product-link">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>