<section class="hero" id="hero">
    <div class="container">
        <div class="hero__carousel w-full">
            <div class="owl-carousel owl-theme">
                <div class="hero__carousel-item">
                    <div class="hero__carousel-item-left">
                        <h1 class="hero__carousel-item-title text-light poppins flex items-center">
                            <img class="owl-lazy" data-src="/images/slider/apple-logo.png" alt="">
                            <span>iPhone 14 Series</span>
                        </h1>
                        <p class="hero__carousel-item-desc text-light inter">
                            Up to 10% off Voucher
                        </p>
                        <a href="#" class="text-light flex items-center">
                            <span class="link-text poppins">Shop now</span>
                            <button class="link-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path d="M3.5 12H20M20 12L13 5M20 12L13 19" stroke="#FAFAFA" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </a>
                        <img class="hero__carousel-item-image owl-lazy" data-src="/images/slider/apple.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>