<section class="products" id="products">
    <div class="container">
        <div class="section__title">
            <div class="sub-title flex items-center">
                <div class="bg"></div>
                <h1>Our Products</h1>
            </div>
            <div class="btns-list">
                <button type="button" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M11 5L4 12L11 19M4 12H20" stroke="black" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
                <button type="button" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M3.5 12H20M20 12L13 5M20 12L13 19" stroke="black" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="products__content skeleton">
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
            <div class="skeleton__item">
                <div class="skeleton-animation"></div>
                <span class="skeleton-animation"></span>
                <span class="skeleton-animation"></span>
            </div>
        </div>
        <div class="products__wrapper">
            <div class="products__content prdt"></div>
            <div class="load-more-wrapper">
                <button type="button" class="load-more text-light">View All Products</button>
            </div>
        </div>
    </div>
</section>