<div class="top-bar">
    <div class="container">
        <div class="top-bar__inner text-light flex justify-end">
            <p class="top-bar__text poppins flex items-center">Summer Sale For All Swim Suits And Free Express Delivery
                - OFF 50%! <a href="#" class="text-light poppins">ShopNow</a></p>
            <div class="top-bar__lang">
                <select class="top-bar__select text-light poppins" id="select-lang">
                    <option value="english">English</option>
                    <option value="russian">Russian</option>
                </select>
            </div>
        </div>
    </div>
</div>