<main class="main" id="main">
    {{!-- partials\hero.hbs --}}
    {{>hero}}

    {{!-- partials\categories.hbs --}}
    {{>categories}}

    {{!-- partials\products.hbs --}}
    {{>products}}

    {{!-- partials\countdown.hbs --}}
    {{>countdown}}

    {{!-- partials\featured.hbs --}}
    {{>featured}}

    {{!-- partials\services.hbs --}}
    {{>services}}
</main>
